{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Piper</title>
    <meta name="description" content="the social network">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="{% static 'Alexandra/Semantic/semantic.min2.css' %}">
</head>

<body>
    <div class="ui grid">
        <div class="one wide row"></div>
        <div class="one wide row"></div>
        <h1 class="ui center aligned header" style="
            padding-top:40px;
            padding-bottom:40px;
            font-size:80px;
            background-color:#FFF;
            color:rgb(93, 193, 147);
            font-family:helvetica;">
            Piper
        </h1>
    </div>


    <div class="ui visible inverted labeled icon top sidebar menu" style="
        border-bottom-color:white;
        border-bottom-style:solid;">
        <a href="#" class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a id="newpostbutton" class="item">
        <!--<a href="{% url 'new_post' %}" class="item">-->
            <i class="comment outline icon"></i>
            New Post
        </a>
    </div>

    <div class="ui grid" style="
            background-color:rgb(202, 222, 195);">
        <div class="two wide column"></div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="www.cs.tufts.edu/people/faculty/images/ming.jpg" alt="profile picture"/>
                </div>
                <div class="content">
                    <a class="header">Name</a>
                    <div class="description">
                        Some status
                    </div>
                    <div class="extra content">
                        <div class="ui feed">
                            <div class="event">
                                <div class="label">
                                    <img src="" alt="thumbnail"/>
                                </div>
                                <div class="content">
                                    <div class="summary">
                                        <a href="#" class="user">
                                            Some user
                                        </a> did something
                                    </div>
                                </div>
                            </div>
 
                            <div class="event">
                                <div class="label">
                                    <img src="" alt="thumbnail"/>
                                </div>
                                <div class="content">
                                    <div class="summary">
                                        <a href="#" class="user">
                                            Some user
                                        </a> did something
                                    </div>
                                </div>
                            </div>
 
                            <div class="event">
                                <div class="label">
                                    <img src="" alt="thumbnail"/>
                                </div>
                                <div class="content">
                                    <div class="summary">
                                        <a href="#" class="user">
                                            Some user
                                        </a> did something
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Vertical scrolling -->
        <div id="postsscroll" class="eight wide column">
            <div class="ui segment">
{% for post in latest_posts %}
            <div class="ui vertical segment">
                <div class="content">
{% if post.image %}
                    <a href="./post/{{post.id}}"><img class="ui image center" src='{{ post.image.url }}' alt='user image'/></a>
{% endif %}
                    <p>{{post.text_content}}</p>
                    <div class="ui comments">
                        <h3 class="ui dividing header">Comments</h3>
                        <!-- do a for each comment thing here -->
                        <div class="comment">
                            <a class="avatar">
                                <img src="">
                            </a>
                            <div class="content">
                                <a class="author">User1</a>
                                <div class="metadata">
                                    <span class="date">Today at 5:42PM</span>
                                </div>
                                <div class="text">
                                    the comment.
                                </div>
                            </div>
                        </div>
                        <form class="ui reply form">
                            <div class="field">
                                <input type="text"></input>
                            </div>
                            <div class="ui blue labeled submit icon button">
                                <i class="icon edit"></i>Comment
                            </div>
                        </form>
                    </div>
                </div>
            </div>
{% endfor %}
            </div>
        </div>
        <!-- /Vertical scrolling -->


        <div class="three wide column"></div>
    </div>

    <div id="newpostmodal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            New Post
        </div>
        <div class="content">
            <div class="ui form segment">
            <form id='new_post_form' method='post' enctype= "multipart/form-data" action='/new_post/'>
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
            <div class="field">
                <label>
                {{ field.label }}
                </label>
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            </div>
            {% endfor %}
            <br/>
            <input class="ui positive right labeled button" type='submit' name='submit' value='Submit' />
            </form>
        </div>
 
        </div>
<!--        <div class="actions">
            <div class="ui positive right labeled button">
                Submit
            </div>
            -->
        </div>
    </div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'Alexandra/Semantic/semantic.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
           $('.ui.sticky').sticky();
            $('#newpostbutton').click(function () {
                $('.modal').modal('show');
                this.preventDefault();
            });
        });
    </script>
</body>
</html>

