{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Piper</title>
    <meta name="description" content="the social network">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="{% static 'Alexandra/Semantic/semantic.css' %}">
</head>

<body>
    <div class="ui grid">
        <div class="one wide row"></div>
        <h1 class="ui center aligned header">
            Piper
        </h1>
    </div>


    <div class="ui visible inverted labeled icon top sidebar menu">
        <a href="#" class="item">
            <!--<i class="home icon"></i>-->
            Home
        </a>
        <a href="#" class="item">
            <!--<i class="comment outline icon"></i>-->
            New Post
        </a>
    </div>

    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="" alt=""/>
                </div>
                <div class="content">
                    <a class="header">Current User's Name</a>
                    <div class="description">
                        Something here maybe
                    </div>
                    <div class="extra content">
                        <div class="ui feed">
                            <div class="event">
                                <div class="label">
                                    <img src="" alt=""/>
                                </div>
                                <div class="content">
                                    <div class="summary">
                                        <a href="#" class="user">
                                            Some user
                                        </a> did something
                                    </div>
                                </div>
                            </div>
 
                            <div class="event">
                                <div class="label">
                                    <img src="" alt=""/>
                                </div>
                                <div class="content">
                                    <div class="summary">
                                        <a href="#" class="user">
                                            Some user
                                        </a> did something
                                    </div>
                                </div>
                            </div>
 
                            <div class="event">
                                <div class="label">
                                    <img src="" alt=""/>
                                </div>
                                <div class="content">
                                    <div class="summary">
                                        <a href="#" class="user">
                                            Some user
                                        </a> did something
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one wide column">
            <div id="lefttransition" class="fluid ui left attached button"></div>
        </div>
        <div class="six wide column">
            <div class="ui cube shape">
                <div class="sides">
{% for post in latest_posts %}
                    <div class="side {% if forloop.first %}active{% endif%}">
                        <div class="content">
{% if post.image_key %}
                            <a href="/Alexandra/post/{{post.id}}"><img src='{{post.image_key}}' alt='user image'/></a>
                            <p class="center">{{post.text_content}}</p>
{% endif %}
                        </div>
                    </div>
{% endfor %}
                </div>
            </div>
        </div>
        <div class="one wide column">
            <div id="righttransition" class="fluid ui right attached button"></div> 
        </div>
        <div class="three wide column"></div>
    </div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'Alexandra/Semantic/semantic.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.shape').shape();
            $('#lefttransition').click(function(){
                $('.shape').shape('flip left');
            });
            $('#righttransition').click(function(){
                $('.shape').shape('flip right');
            });
        });
    </script>
</body>
</html>

