{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Piper</title>
    <meta name="description" content="the social network">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="{% static 'Alexandra/Semantic/semantic.css' %}">
</head>

<body>
    <nav class="ui fixed menu inverted navbar">
        <a href="" class="brand item">Piper</a>
    </nav>

    <main class="ui page grid">
        <div class="row">
            <div class="column">
                {% if latest_posts %}
                <div class="post ui shape">
                    <div class="sides">
                    {% for post in latest_posts %}
                        <div class="side {% if forloop.first %}active{% endif %}">
                            <div class="ui cards">
                                <div class="card">
                                    <div class="image">
                                    {% if post.image_key %}
                                        <a href="/Alexandra/post/{{post.id}}"><img src='{{post.image_key}}' alt='user image'/></a>
                                    {% endif %}
                                    </div>
                                    <div class="content">
                                    {% if post.text_content %}
                                        <p class="description">{{post.text_content}}</p>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div>
                </div>
                {% else %}
                <div class="ui message main">
                    <h2>No posts are available.</h2>
                </div>
                {% endif %}
            </div>
        </div>
    </main>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'Alexandra/Semantic/semantic.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.shape').shape();
        });
    </script>
</body>
</html>

